/* #region Common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --ds-font: #23272A;
    --ds-header: #255EE9;
    --ds-footer: #2A2A2A;
    --ds-grey-bg: #F6F6F6;
}

.container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
}

img {
    max-width: 100%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
/* #region Col- */
.col-1 {
    width: calc((100% / 12) *1);
}

.col-2 {
    width: calc((100% / 12) *2);
    padding: 1rem;
    font-size: 1rem;
    margin-left: 6rem;
}

.col-3 {
    width: calc((100% / 12) *3);
}

.col-4 {
    width: calc((100% / 12) *4);
    padding: 1rem;
    color: var(--ds-header);
}

.col-5 {
    width: calc((100% / 12) *5);
    text-align: left;
    padding: 2rem 15rem 2rem 0; 
}

.col-6 {
    width: calc((100% / 12) *6);
    font-size: 0.9rem;
}

.col-7 {
    width: calc((100% / 12) *7);
}

.col-8 {
    width: calc((100% / 12) *8);
}

.col-9 {
    width: calc((100% / 12) *9);
}

.col-10 {
    width: calc((100% / 12) *10);
}

.col-11 {
    width: calc((100% / 12) *11);
}

.col-12 {
    width: calc((100% / 12) *12);
}
/* #endregion Col- */

/* #endregion Common rules */

/* #region Body */
/* #region Header */
#site_header {
    background-image: url("../img/jumbo.png");
    background-size: cover; 
}

.logo {
    font-size: 1.25rem;
}

.login {
    background-color: white;
    color: var(--ds-header);
    border-radius: 10px;
}

#site_header span {
    padding: 0 1rem;
}

.menu {
    padding: 1rem 0;
    color: white;
}

#site_header .col-3:first-child {
    text-align: end;
}

#site_header .col-6 {
    text-align: center;
}

.info {
    height: 250px;
    display: block;
}

.info h2,
.info p {
    padding: 1rem 0;
    text-align: center;
    color: white;
}

.details {
    width: 60%;
    margin: 0 auto;
}

.download {
    text-align: center;  
    padding: 1rem 0;
}

.download .mela {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-right: 1rem;
}

.download .finestra {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 1rem;
}
/* #endregion Header */

/* #region Main */
#site_main {
    background-color: white;
}

.bg_grey {
    background-color: var(--ds-grey-bg);
}

.bg_grey {
    text-align: center;
}

.bg_grey h2 {
    padding-top: 3rem;
}

.bg_grey p {
    padding-top: 1rem;
}

.adventur {
    font-size: 1.5rem;
}

.bg_grey button {
    background-color: var(--ds-header);
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 10px;
}
/* #endregion Main */

/* #region Footer */
#site_footer {
    background-color: var(--ds-footer);
    color: white;
}

#site_footer .container {
    padding: 2rem 2.5rem;
    text-align: left;
}

.col-4 h3 {
    font-size: 2rem;
}

section.title {
    color: var(--ds-header);
}

p.option {
    padding: 0.5rem 0;
}

#site_footer .logo {
    margin: 1rem 0;
    padding: 0.5rem;
}

.container-flex {
    justify-content: space-between;
}

button.login {
    background-color: var(--ds-header);
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 10px;
}
/* #endregion Footer*/
/* #endregion Body */